@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  color: #000;
  padding: 10px;
}

h1 {
  list-style: none;
  font-size: 20px;
  margin: 0;
}

ul {
  padding-left: 0;
}

nav li {
  list-style-type: none;
  margin: 10px 0;
}

li a {
  color: #69696a;
  text-decoration: none;
  padding-left: 0;
}

.chirpus {
  margin-top: 30px;
  font-size: 25px;
}

.desc {
  color: #69696a;
  border-left: 2px solid #69696a;
  padding-left: 10px;
}

#hireus {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

#calltoaction {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
}

p {
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(247, 193, 162, 0.7);
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding: 10px;
  height: 20px;
}

.link {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .chirpus {
    margin-top: 30px;
  }

  .ulNavList {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-size: 12px;
  }

  .headerli {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #hireus {
    padding: 5px;
    font-size: 12px;
    width: 55px;
  }

  .mid-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .desc {
    width: 50%;
  }

  #calltoaction {
    width: 50%;
    padding: 8px;
    margin-top: 0;
  }

  .large-cirlce {
    position: absolute;
    right: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(247, 136, 167, 0.6);
  }

  .medium-cirlce {
    position: relative;
    left: 17%;
    top: 55px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: rgba(247, 193, 162, 0.7);
    z-index: 1;
  }

  .small-cirlce {
    position: relative;
    right: 5%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgba(207, 130, 213, 0.6);
  }
}
