@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  color: #000;
  padding: 10px;
}

h1 {
  list-style: none;
  font-size: 20px;
  margin: 0;
}

ul {
  padding-left: 0;
}

nav li {
  list-style-type: none;
  margin: 10px 0;
}

li a {
  color: #69696a;
  text-decoration: none;
  padding-left: 0;
}

.chirpus {
  margin-top: 30px;
  font-size: 25px;
}

.desc {
  color: #69696a;
  border-left: 2px solid #69696a;
  padding-left: 10px;
}

#hireus {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

#calltoaction {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
}

p {
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(247, 193, 162, 0.7);
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding: 10px;
  height: 20px;
}

.link {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  padding: 10px;
}
